doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    link(rel="stylesheet" href="/styles.css")
    title !{title}
  body
    block main-content
      .content
        block header
          nav.nav.grid
            div.nav-section

        block content
          p Default content
        
    block footer
      footer.footer.grid
        div.footer-section
          div.copyright
            span © Copyright 2017

          div.logo
          
          div.social-area.text-center


    block scripts
      //- script(src="/js/fontawesome-all.js")        
      script(src="/vendor.bundle.js")        
      script(src="/template.bundle.js")
      
      

