$bg-color: rgba(250, 250, 250, 1);
$primary-color: #4a4a4a;
$light-color: rgba(244, 244, 244, 1);
$dark-color: rgba(58, 51, 53, 1);
$default-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$default-text-shadow: 2px 1px 4px rgba(0, 0, 0, 1);
$default-box-shadow: 0 4px 6px rgba(204, 204, 204, 1);
$red: #b7190e;
$green: #1a936f;
$warning-bg-color: #fff3cd;
$warning-border-color: #ffeeba;
$warning-text-color: #856404;